<div class="flex h-dvh w-full flex-col items-center gap-5 bg-gray-950 p-20">
  @if (!isArduinoConnected) {
    <button
      type="button"
      (click)="connect()"
      class="rounded-full bg-white/25 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm ring-1 ring-inset ring-gray-500 transition-transform duration-200 hover:scale-105"
    >
      Connect to Arduino
    </button>
  }
  <p
    (click)="toggleDemoMode()"
    (keyup)="toggleDemoMode()"
    class="cursor-pointer text-center text-sm text-white underline transition-colors hover:text-opacity-90"
    tabindex="0"
  >
    @if (isDemoMode) {
      Disable Demo Mode
    } @else {
      Or enable Demo Mode
    }
  </p>

  <svg
    [ngClass]="{ 'animate-bounce': isArduinoConnected || isDemoMode }"
    class="mt-20 size-60"
    viewBox="0 0 48 48"
    xmlns="http://www.w3.org/2000/svg"
    fill="#ffffff"
  >
    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
    <g id="SVGRepo_iconCarrier">
      <defs>
        <style>
          .a,
          .b {
            fill: none;
            stroke: #ffffff;
            stroke-linecap: round;
            stroke-linejoin: round;
          }
          .a {
            stroke-width: 1px;
          }
        </style>
      </defs>
      <path
        class="a"
        d="M25.94,20.46a9.15,9.15,0,1,1,2,10c-3.76-4-4.25-9.41-7.72-12.92a9.14,9.14,0,1,0,0,12.92,9.23,9.23,0,0,0,2-2.9"
      ></path>
      <line class="b" x1="16.07" y1="24" x2="11.19" y2="24"></line>
      <line class="b" x1="36.79" y1="24" x2="31.91" y2="24"></line>
      <line class="b" x1="34.35" y1="26.43" x2="34.35" y2="21.56"></line>
    </g>
  </svg>
</div>
